.intro__list {
    width: 100%;
    font-size: 12px;
    line-height: 18px;   
    list-style: none;
}

@media (min-width: 768px){
    .intro__list {
        font-weight: 700;
        line-height: 18px;
    }
}
