.cover__subtitle {
    margin: 0 auto;
    width: 288px;
    text-align: center;
    color: #fff; 
    font-size: 14px;
    line-height: 16px;
}

@media (min-width: 768px){
    .cover__subtitle{
        font-size: 18px;
        line-height: 22px;
        width: auto;
    }
}
